# Ignore build output directories
bin/
obj/

# Ignore Visual Studio temporary files, build results, and
.vs/
.vscode/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider settings
.idea/

# Logs
*.log
